@import url('"https://fonts.gstatic.com" crossorigin');

html {
    padding: 5rem;
    background-color: rgba(207, 142, 68, 0.808);
}

.yoga {
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    padding-right: 5em;
    padding-left: 5em;
    min-height: 100vh;
    background-image: url(/materials/meditate.jpg);
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    font-family: "Pacifico", cursive;
  font-style: normal;   
}


button {
    border-radius: 20px;
    padding: 5px;
    background: none;
    color: white;
    border: none;
    background-color: rgb(182, 148, 182);
}

.menu-container{
    width: 40%;
    display: flex;
    align-items: end;
    padding-left: 50%;
    /* padding-bottom: 2%; */
    
}

#header-container{
    /* background-color:  #e0c2b31f; */
    display: flex;
}


#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-items: right;
    align-items:center ;
    justify-content: space-between;
    flex: 1;
}

#logo {
    max-width: 20%;
    color: red;
}

.text {
    padding: 35px;
}


.footer{
    display: flex;
    font-family: "Pacifico", cursive;
    justify-content: space-around;
}