body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-color:rgb(244, 162, 194) ;
}

.nav {
    background-color: aquamarine;
    list-style-type: none;
}



li {
    display: inline;
    justify-items: right;
    align-items: ;
}
